.container {
  display: grid;
  grid: "container-search chat-title" 120px "chat-list chat-message-list" 1fr "new-message-container container-massage-form" 80px / 400px 1fr;
  width: 100vw;
  height: 100vh;
  background: #dad8d8;
}

.chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
}

.new-message-container {
  grid-area: new-message-container;
  background: #fff;
}

.container-massage-form {
  display: grid;
  grid-area: container-massage-form;
  background: #eee;
  padding: 15px 20px;
}

.chat-title {
  padding: 20px 15px 20px 15px;
  background-color: #fff;
  color: rgb(77, 93, 235);
}
